LD_RUNPATH_SEARCH_PATHS[sdk=macosx*]          = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks
LD_RUNPATH_SEARCH_PATHS[sdk=iphoneos*]        = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[sdk=iphonesimulator*] = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

INFOPLIST_FILE = LustreTests/Info.plist
PRODUCT_BUNDLE_IDENTIFIER[sdk=macosx*] = me.waldowski.LustreTests
PRODUCT_BUNDLE_IDENTIFIER[sdk=iphoneos*] = me.waldowski.MobileLustreTests
PRODUCT_BUNDLE_IDENTIFIER[sdk=iphonesimulator*] = me.waldowski.MobileLustreTests
PRODUCT_NAME = $(TARGET_NAME)
